.content-card {
  cursor: pointer;
  transition: all 0.3s;
  min-height: 450px;
  margin: 0.8rem;
  padding: 0;
  height: auto;
}

.content-card:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
